<link rel="stylesheet" href="/css/student.css">

<section id="feed-students">
    <h4><%= title %></h4>
    
        <div class="student-form">
            <form action="/students/create" id="new-post-form" method="POST">
                <input type="text" name="name" cols="30" rows="1" placeholder="Enter Name" required>
                <input type="text" name="batch" cols="30" rows="1" placeholder="Enter Batch" required>
                <input type="text" name="college" cols="30" rows="1" placeholder="Enter College" required>
    
                <select name="status" id="status">
                    <option value="placed">Placed</option>
                    <option value="not-placed">Not Placed</option>
                </select>
                <input type="submit" value="Add New Student">
            </form>
        </div>

        <div class="student-list">
            <ul>
                <% for(student of students) { %>
                    <li>
                        <div class="student">
                            <div class="st-name"><%= student.name %></div>
                            <div class="st-batch"><%= student.batch %></div>
                            <div class="st-college"><%= student.college %></div>
                            <div class="st-status"><%= student.status %></div>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
  

</section>

