<link rel="stylesheet" href="/css/update_student.css">

<section id="upd-std">
    
        <div class="update-st-form">
            <form action="/students/update_data/<%=student._id%>" id="new-post-form" method="POST">
                <input type="text" name="name" cols="30" rows="1" placeholder="Enter Name" required>
                <input type="text" name="batch" cols="30" rows="1" placeholder="Enter Batch" required>
                <input type="text" name="college" cols="30" rows="1" placeholder="Enter College" required>
    
                <select name="status" id="status">
                    <option value="Not Placed">Not Placed</option>
                    <option value="Placed">Placed</option>
                </select>
                <input type="submit" class="btn btn-info" value="Update">
            </form>
        </div>

        <div class="student-list">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Batch</th>
                    <th scope="col">College</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row"><%= student.name %></th>
                      <td><%= student.batch %></td>
                      <td><%= student.college %></td>
                      <td><%= student.status %></td>
                    </tr>
                </tbody>
              </table>

        </div>
  

</section>

